*{
	padding: 0;
	margin:0;
}
body{
	font-family:arial;
}
header{
	margin: 0 auto;
	padding: 0% 0% 0% 2%;
	align-content: center;
	width: 89%;
	background:#003F72;

}
main{
	margin: 0 auto;
	width: 90%;
}


h1,h2,h3,p{
	text-align: center;
}